body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100vh;
}
.loader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vmin;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    -webkit-animation: spin 4s cubic-bezier(0, -0.1, 1, -0.01) infinite;
    animation: spin 4s cubic-bezier(0, -0.1, 1, -0.01) infinite;
    margin: auto;
    width: 85%;
    height: 85%;
    max-width: 85vh;
    max-height: 85vw;
    position: relative;
    
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(6000deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(6000deg); }
  }
#box{
    width: 100%;
    height: 100%;
}
#load{
    background-color: black;
    color: blue;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}
.category{
    user-select: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#devlet:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0);
    text-shadow: 0 0 1vh #0000ff, 0 0 1vh #0000ff;
}
#mur{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    /* display: flex;
    flex-wrap: wrap; */
    
    /* background-color: rgb(46, 46, 46); */
}


#menu{
    right: 0;
    text-shadow: 0 0 0.5vh #ff0000, 0 0 0.5vh #0000ff;
    background: white;
    position: absolute;
    border-radius: 1rem;
    margin: 1%;
    font-size: 5rem;
    display: flex;
    margin-left: auto;
    text-align: center;
    line-height: 5rem;
    height: 5rem;
    margin-right: 1%;
    justify-content: flex-end;
}
.class{
    height: 50%;
}
#a{
  display: none;
}
.main{
    text-align: center;
}
.logo{
    /* background-color: #00000011; */
    border-radius: 100%;
    height: 25%;
    width: 25%;
    max-width: 25vh;
    max-height: 25vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.type{
    color: black;
    font-size: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    align-items: center;
    user-select: none;
}
.type:hover{
    color: rgb(126, 126, 126);
    text-shadow: 0px 0px 10px rgb(152, 152, 152);
}
.app{
    font-family: fantasy;
    text-shadow: 0px 0px 10px cyan;
}
.game{
    font-family: fantasy;
    text-shadow: 0px 0px 10px greenyellow;
}
.centeralize{
    text-align: -webkit-center;
}
.sponsorship{
    background: linear-gradient(#000000, #260062, #000000);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
    font-family: fantasy;
}
.crew{
    text-shadow: 0px 0px 10px rgb(255, 251, 0);
}
.bordermin{
    /* border: 0.1rem rgb(38, 255, 0);
    border-radius: 1rem;
    border-style:dotted; */
    width: min-content;
}
.sponsor-h{
    text-align: center;
    color: rgb(0, 255, 0);
    text-shadow: 0px 0px 1rem rgb(255, 234, 0) ;
    font-family: cursive;
}
.sponsor-text{
    padding: 3%;
    text-align: center;
    color: #ffffff;
}
.sponsor{
    background: linear-gradient( #000000, #005d62, #000000);
    border: 0.2rem solid rgb(0, 106, 138);
    border-bottom: 0;
    margin: 0px;
    padding: 0px;
    border-radius: 2rem;
}
.links{
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.butter{
    font-family: cursive;
    font-size: 3rem !important;
    line-height: 5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    /* float: left; */
    width: 48%;
    margin: 1%;
}
.cyan-sh{
    box-shadow: 0rem 0.1rem 0.5rem rgba(0, 255, 255, 0.564), 
    0rem -0.1rem 0.5rem rgba(0, 255, 255, 0.564),
    0.1rem 0rem 0.5rem rgba(0, 255, 255, 0.564),
    -0.1rem 0rem 0.5rem rgba(0, 255, 255, 0.564);
}
.green-sh{
    box-shadow: 0rem 0.1rem 0.5rem rgba(172, 255, 47, 0.51), 
    0rem -0.1rem 0.5rem rgba(172, 255, 47, 0.51),
    0.1rem 0rem 0.5rem rgba(172, 255, 47, 0.51),
    -0.1rem 0rem 0.5rem rgba(172, 255, 47, 0.51);
}
.black-sh{
    box-shadow: 0rem 0.1rem 0.5rem rgb(0, 0, 0), 
    0rem -0.1rem 0.5rem rgb(0, 0, 0),
    0.1rem 0rem 0.5rem rgb(0, 0, 0),
    -0.1rem 0rem 0.5rem rgb(0, 0, 0);
}
.butter:hover{
    text-shadow: 0px 0px 7px;
}
.tag{
    width: min-content;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px #ffffff;
}

@keyframes backgroundColorPalette {
    0% {
        text-shadow: 0px 0px 10px rgb(255, 0, 0);
    }
    6.666% {
        text-shadow: 0px 0px 10px rgb(255, 0, 170);
    }
    13.333% {
        text-shadow: 0px 0px 10px rgb(255, 0, 255);
    }
    20% {
        text-shadow: 0px 0px 10px rgb(170, 0, 255);
    }
    26.666% {
        text-shadow: 0px 0px 10px rgb(255, 109, 250);
    }
    33.333% {
        text-shadow: 0px 0px 10px rgb(0, 170, 255);
    }
    40% {
        text-shadow: 0px 0px 10px rgb(0, 255, 255);
    }
    46.666% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0);
    }
    53.333% {
        text-shadow: 0px 0px 10px rgb(85, 255, 0);
    }
    60% {
        text-shadow: 0px 0px 10px rgb(170, 255, 0);
    }
    66.666% {
        text-shadow: 0px 0px 10px rgb(255, 255, 0);
    }
    73.333% {
        text-shadow: 0px 0px 10px rgb(255, 170, 0);
    }
    80% {
        text-shadow: 0px 0px 10px rgb(255, 85, 0);
    }
    86.666% {
        text-shadow: 0px 0px 10px rgb(255, 0, 0);
    }
    100% {
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
}

.tlogo{
    user-select: none;
    font-family: monospace;
    text-align: -webkit-center;
    font-size: 1rem;
    /* width: min-content; */
}
.tlogor{
    width: 100%;
}
.tag:hover{
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.tag1:hover{
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.tag1{
    width: min-content;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #000000;
}
.black-text{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.neon{
    text-shadow: 0 0 0.5vh #ff0000, 0 0 0.5vh #0000ff, 0 0 0.5vh #ff0000, 0 0 0.5vh #0000ff;
    background-color: rgba(104, 104, 104, 0.511);
}
.neon:hover{
    /* background-color: rgb(255, 255, 255);
    text-shadow: 0 0 0.5vh #ff0000, 0 0 0.5vh #0000ff; */
}
.butter:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 330% !important;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.1rem 0.8rem #ff0000, 
    0rem -0.1rem 0.8rem #ff0000,
    0.1rem 0rem 0.8rem #ff0000,
    -0.1rem 0rem 0.8rem #ff0000 ;
    text-decoration: none;
    /* background-color: white; */
    font-style: normal;
    /* float: left; */
    width: 48%;
    margin: 1%;
}
.non{
    text-decoration: line-through;
}
.murmurlabs{
    background-color: #464646;
    bottom: 0%;
    position: fixed;
    width: 100%;
    height: 6%
}
#spacer{
    height: 25%;
}
.main{
    height: 100%;
    background: linear-gradient(#640001, #1a0000);;
}
#app{
    background: linear-gradient( #1a0000, #973c00, #1a0000);;

}
#game{
    background: linear-gradient(#1a0100, #376200, #000000);
}
.top{
    /* background: linear-gradient(#640001, #000963); */
    /* top: 0%;
    /* position: fixed; */

}
.fake_footer{
    background-color: #464646;
    /* bottom: 0%; */
    width: 100%;
    height: 6%
}
.dc{
    /* width: 10%; */
    height: 100%;
    font-size: 4vh;
    margin: 0.4rem 2%;
    float: left;
    padding: 0.3%;
}
.uzay{
    color: black;
    text-shadow: 0px 0px 10px cyan;
    text-decoration: none;
}
.r{
    height: 100%;
    font-size: 4vh;
    margin: 3px;
    float: right;
    font-family: monospace;
    background: black;
    border-radius: 100px;
    height: 100%;
    width: 15%;
    max-width: 6vh;
    max-height: 18vw;
    text-align: center;
    /* border: 3px solid #81005c; */
}
/* .people:visited {
    color: green;
}; */
.people{
    height: 100%;
    font-size: 3vh;
    /* float: right; */
    font-family: monospace;
    margin: 1%;
    border-radius: 100rem;
    width: 100%;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* .people:link {
    color: red;
} */

.box-p{
    box-shadow: 0px 0px 5px #c80080, 0px 0px 5px #c80080, 0px 0px 5px #c80080;
}
.box-g{
    box-shadow: 0px 0px 5px greenyellow, 0px 0px 5px greenyellow, 0px 0px 5px greenyellow;
}
.box-b{
    box-shadow: 0px 0px 5px cyan, 0px 0px 5px cyan, 0px 0px 5px cyan;
}
.midas{
    color: white;
    text-shadow: 0px 0px 10px #c80080, 0px 0px 10px #c80080;
    text-decoration: none;
}
#aaa{
    position: relative;
    color: aliceblue;
      text-align: center;
  font-size: 2vh;
    margin: 0;
  
}
.mini{
    width: 100%;
    height: 100%;
}
